.app
    height: 100%
    display: flex
    .input
        width: 40%
        margin: 20px 0 0 0 
        text-align: center
        label   
            margin: 0 7px 0 0
        input
            border-radius: 20px
            border: 1px solid coral
            padding: 8px
            &:focus
                outline: none
    .map-wrapper
        padding: 5px
        width: 60%
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid black
        

   